<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>34.72.40.1</MSDeployServiceURL>
    <DeployIisAppPath>pedometer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>Pedometer</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WebApiContext" Order="1" Enabled="False">
          <Destination Path="Data Source=34.105.254.246;Initial Catalog=pedometer;User ID=sqlserver;Password=st3iNik9q6jJl1M8" Name="Data Source=34.105.254.246;Initial Catalog=pedometer;User ID=sqlserver;Password=st3iNik9q6jJl1M8;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Pedometer.Data.WebApiContext, Pedometer" MigrationConfiguration="Pedometer.Migrations.Configuration, Pedometer" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="WebApiContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>Data Source=34.105.254.246;Initial Catalog=pedometer;User ID=sqlserver;Password=st3iNik9q6jJl1M8;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>